@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.roulette {
    position: absolute;
    top: calc(50% - size.$rouletteSize / 2);
    left: calc(50% - size.$rouletteSize / 2);
    width: size.$rouletteSize;
    height: size.$rouletteSize;
    border: size.$lineWide solid color.$lineColorLight;
    border-radius: 100%;
}
