@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.arrowWrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    border: size.$lineWide solid color.$lineColorDark;
    border-radius: 100%;
    overflow: hidden;
    width: 3em;
    height: 3em;
    cursor: pointer;

    .arrow {
        width: 25%;
        height: 25%;
    }

    &.right .arrow {
        border-top: 0.15em solid color.$darkBlue;
        border-right: 0.15em solid color.$darkBlue;
        transform: translateX(-20%) rotate(45deg);
    }

    &.left .arrow {
        border-bottom: 0.15em solid color.$darkBlue;
        border-left: 0.15em solid color.$darkBlue;
        transform: translateX(20%) rotate(45deg);
    }

    &.right.light .arrow {
        border-top: 0.15em solid color.$purple;
        border-right: 0.15em solid color.$purple;
        transform: translateX(-20%) rotate(45deg);
    }

    &.left.light .arrow {
        border-bottom: 0.15em solid color.$purple;
        border-left: 0.15em solid color.$purple;
        transform: translateX(20%) rotate(45deg);
    }
}
