@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.slider {
    display: grid;
    width: 100%;
    grid-area: slider;
    gap: 5rem;
}

.slider > *:first-child {
    grid-area: slider;
}

.controls {
    position: relative;
    display: grid;
    width: max-content;
    grid-auto-rows: max-content;
    grid-area: controls;
    align-self: self-end;
    gap: 1.5rem;
    padding-left: size.$paddingInline;
    z-index: 99;
}

.navigation {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
}

.arrow {
    font-size: 1.5em;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.pagination {
    font-size: 1.5rem;
}

.bulletActive {
    background-color: color.$darkBlue;
    opacity: 1;
}

@media screen and (min-width: 426px) {
    .slider {
        position: absolute;
        bottom: 10rem;
        grid-template-areas: 'controls' 'slider';
    }
}

@media screen and (max-width: 425px) {
    .slider {
        grid-template-areas: 'sub-headline' 'slider' 'controls';
        grid-template-rows: max-content 1fr max-content;
    }
}
