@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.rouletteItem {
    position: absolute;
    top: calc(size.$rouletteItemSize / -2);
    left: calc(50% - size.$rouletteItemSize / 2);
    width: size.$rouletteItemSize;
    height: size.$rouletteItemSize;
    cursor: pointer;
    transform-origin: calc(size.$rouletteItemSize / 2) calc(size.$rouletteSize / 2 + size.$rouletteItemSize / 2);
    transition: transform 0.5s;
}

.rouletteCircle {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    font-size: 1.5rem;
    border: 1px solid color.$lineColorDark;
    border-radius: 100%;
    transition: transform 0.5s;
}

.rouletteTitle {
    position: absolute;
    top: 0;
    left: 5rem;
    display: grid;
    height: 100%;
    align-items: center;
    pointer-events: none;
    transform-origin: calc(-5rem + size.$rouletteItemSize / 2);
    transition: transform 0.5s;
}
