@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.app {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
    .app {
        min-width: 1024px;
        max-width: 1500px;
        width: 90vw;
    }
}

@media screen and (min-width: 425px) {
    .app {
        background-image: linear-gradient(
                90deg,
                transparent calc(50% - size.$lineWide / 2),
                color.$lineColorLight calc(50% - size.$lineWide),
                color.$lineColorLight calc(50% + size.$lineWide / 2),
                transparent calc(50% + size.$lineWide / 2)
            ),
            linear-gradient(
                transparent calc(50% - size.$lineWide / 2),
                color.$lineColorLight calc(50% - size.$lineWide),
                color.$lineColorLight calc(50% + size.$lineWide / 2),
                transparent calc(50% + size.$lineWide / 2)
            );
        border: size.$lineWide solid color.$lineColorLight;
    }
}
