@use '/src/scss/abstracts/color';
@use '/src/scss/abstracts/size';

.dateRange {
    position: absolute;
    top: size.$horizontalLinePosition;
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.4em;
    font-size: 17rem;
    transform: translateY(-50%);
    font-weight: 700;
}

.from {
    color: color.$purple;
}

.to {
    color: color.$pink;
}